/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

*{
    margin: 0;
    padding: 0;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sessão de Menu*/

section.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 70px;

}

.menu__list {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.menu__list__item__contato {
    font-weight: bold;
    height: 15px;
    margin-left: 25px;
}

nav{
    display: flex;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    width: 150px;
}

.icon{
    width: 24px;
    height: 24px;
}

.menu__title{
    font-size: 16px;
}

.menu__list__item{
    white-space: nowrap;
}

/*Sessão Title*/

section.title{
    display: flex;
    justify-content: center;
    height: 550px;
}

.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title__bio{
    font-size: 52px;
    font-weight: bold;
    color: #474747;
}

.title__subsection {
    font-size: 22px;
    color: #454545;
}

.title__network{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
}

.title__network__item a{
    font-size: 16px;
    color:#474747;
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    gap: 25px;
}

.title__bio{
    width: 80%;
}

.title__subsection{
    width: 70%;
}
/*Sessão About*/

section.about{
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: #EAF2FD;
}

.about__title{
    font-size: 32px;
    color: #474747;
}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    align-self: center;
    width: 57%;
    height: 50%;
    gap:16px;
}

/*Sessão Skils*/

section.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills__line{
    display: flex;
    align-items: center;
    gap: 20px;
}

.skills__title{
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 32px;
    color: #474747;
}

.skills__box{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    background-color: #ffff;
}

.skills__name{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hobbies__line{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hobbies__title{
    display: flex;
    align-items: center;
    height: 150px;
    font-size: 32px;
    color: #474747;
}

.hobbies__box{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    background-color: #ffff;
}

.hobbies__name{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}


/* Experiência Acadêmica*/

section.academic{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.academic__courses{
    display: flex;
    align-items: center;
    gap: 20px;
}

.academic__title{
    display: flex;
    align-items: center;
    height: 150px;
    font-size: 32px;
    color: #474747;
}

.academic__courses__box{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 176px;
    height: 174px;
    border-radius: 10px;
    background-color: #ffff;
}

.academic__courses__item__title{
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.academic__courses__list{
    display: flex;
    flex-direction: column;
}

.academic__courses__item__img{
    display: flex;
    justify-content: center;


    > img {
        width: 157px;
        height: 75px;
        border-radius: 15px;
    }
}

/* experiência*/

section.experience{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experiencie__box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.experience__section__title{
    display: flex;
    align-items: center;
    height: 150px;
    font-size: 32px;
    color: #474747;
}

.experience__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.experiencie__box{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 550px;
    height: 320px;
    border-radius: 10px;
    background-color: #ffff;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #cccccc;

    &:hover {
        box-shadow: 5px 5px 5px 2px #cccccc;
    }
}

.experience__img{
    width: 400px;
    border-radius: 5px;
}

.experience__title{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.experience__text{
    font-size: 17px;
    font-weight: 700;
}

.experience__description{
    margin-top: 7px;
    margin-bottom: 8px;
}

.experiencia__botao--repo{
    color: #ffff;
    font-weight: 500;
    background-color: #1477c2;
    padding: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #5c5c5f;
    border-radius: 5px;
    margin-right: 10px;
}

.experiencia__botao--ver-mais{
    color: #28272e;
    background-color: #ffffff;
    padding: 7px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #5c5c5f;
    border-radius: 5px;
}


/*Contato*/

section.formcontato{
    
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 7px;

    width: 370px;
    height: 430px;

    background-color: #EAF2FD;
    box-shadow: 3px 1px 1px 1px #5c5c5f;
    border-radius: 7px;
}

.formcontato__title{
    color: #007ab9;
    font-weight: bold;
}

.formcontato__subtext{
    color: #2a3131;
    font-size: 19px;
    margin-bottom: 5px;
}

.formcontato__input{
    width: 250px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px #5c5c5f;
}

.formcontato__textarea{
    width: 250px;
    height: 120px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px #5c5c5f;
    font-family: Arial, Helvetica, sans-serif;
}

.formcontato__botao{
    width: 200px;
    height: 45px;
    padding: 10px;
    color: #ffff;
    font-weight: 500;
    background-color: #1477c2;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #5c5c5f;
    border-radius: 5px;
}

/*footeer*/

section.footer{
    margin-top: 20px;
}

.footer__rodape{
    display: flex;
    flex-direction: row;

    >p {margin: 5px;}
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
